{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{%block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Courgette|Merienda+One&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Courgette|Julius+Sans+One|Merienda+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{%endblock%}
<!-- Content block -->
{%block content%}
<div style="background-image: linear-gradient(to left top, #051937, #003548, #275051, #54695e, #7e8175); color: #fff; padding: 55px 25px; font-family: 'Monoton', cursive;">
    <div class="jumbotron text-center" style="background-image: linear-gradient(to left top, #051937, #003548, #275051, #54695e, #7e8175); color: #fff; padding: 55px 25px; font-family: 'Monoton', cursive;">
        <h1 class="pitch" style="font-family: 'Julius Sans One', sans-serif;">PITCH IT UP</h1>
        <p>Take a minute for this</p>
        <a href="{{url_for('main.new_pitch')}}" class="btn btn-info">Pitch It</a>
    </div>
    <div class="container-fluid" style= "font-family: 'Cormorant Upright', serif; background-image: linear-gradient(to left top, #051937, #003548, #275051, #54695e, #7e8175);">
        <div class="">
            <div class="row">
                <div class="col-md-4" style="font-size: 20px;">
                <h3 class="h" style="font-family: 'Merienda One', cursive;">Interview</h3>
                    <div class="well well-lg">
                        <a href="{{url_for('main.interview_pitches')}}" class="btn btn-primary -center">More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="font-size: 20px;" >
                <h3 class="h" style="font-family: 'Merienda One', cursive;">Product</h3>
                    <div class="well well-lg">
                        <p class="p" style="font-family: 'Courgette', cursive;">create a pitch for your products</p>
                        <a href="{{url_for('main.product_pitches')}}" class="btn btn-primary -center">More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="font-size: 20px; ">
                <h3 class="h" style="font-family:'Merienda One', cursive;">Other Pitches</h3>
                    <div class="well well-lg">
                        <a href="{{url_for('main.promotion_pitches')}}" class="btn btn-primary -center">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%endblock%}
<div>
