{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Syncopate&display=swap" rel="stylesheet">


<div class="jumbotron text-center" style="background-color: black; color: #fff; padding: 100px 25px; font-family: 'Indie Flower', cursive;">
    <h1 class="interview" style="font-family: 'Bad Script', cursive;">Interview Pitches</h1>
</div>
<div class="container" style="font-size: 20px; font-family: 'Syncopate', sans-serif;">
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}