{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link href="https://fonts.googleapis.com/css?family=Aladin&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">

<div class="jumbotron text-center" style="background-image: linear-gradient(to left top, #051937, #003548, #275051, #54695e, #7e8175); color: #fff; padding: 100px 25px; font-family: 'Indie Flower', cursive;">
    <h1 class="prod" style="font-family: 'Aladin', cursive;">Product Pitches</h1>
</div>
<div class="container" style="font-family: 'Cinzel Decorative', cursive;">
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}